# Предсказываем траты на следующий месяц

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('data.csv',sep=',')

In [ ]:
df.head()

   траты в позапрошлом месяце  ...  траты в след месяце
0                       15000  ...                20000
1                       12550  ...                19500
2                       15000  ...                22500
3                       19000  ...                27000
4                       18500  ...                22500

[5 rows x 4 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   траты в позапрошлом месяце  8 non-null      int64
 1   траты в прошлом месяце      8 non-null      int64
 2   траты в тек. месяце         8 non-null      int64
 3   траты в след месяце         8 non-null      int64
dtypes: int64(4)
memory usage: 384.0 bytes

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
df.columns

Index(['траты в позапрошлом месяце', 'траты в прошлом месяце',
       'траты в тек. месяце', 'траты в след месяце'],
      dtype='object')

In [ ]:
X = df[['траты в позапрошлом месяце', 'траты в прошлом месяце',
       'траты в тек. месяце']]
y = df['траты в след месяце']

In [ ]:
X

   траты в позапрошлом месяце  траты в прошлом месяце  траты в тек. месяце
0                       15000                   17500                18900
1                       12550                   18000                20000
2                       15000                   20000                18500
3                       19000                   25000                22000
4                       18500                   19500                21500
5                       15400                   16000                16900
6                       16540                   17590                18000
7                        1500                   18500                19000

In [ ]:
y

0    20000
1    19500
2    22500
3    27000
4    22500
5    16900
6    21000
7    21545
Name: траты в след месяце, dtype: int64

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [ ]:
X_train

   траты в позапрошлом месяце  траты в прошлом месяце  траты в тек. месяце
6                       16540                   17590                18000
4                       18500                   19500                21500
5                       15400                   16000                16900
3                       19000                   25000                22000
7                        1500                   18500                19000

In [ ]:
X_test

   траты в позапрошлом месяце  траты в прошлом месяце  траты в тек. месяце
1                       12550                   18000                20000
2                       15000                   20000                18500
0                       15000                   17500                18900

In [ ]:
y_train

6    21000
4    22500
5    16900
3    27000
7    21545
Name: траты в след месяце, dtype: int64

In [ ]:
y_test

1    19500
2    22500
0    20000
Name: траты в след месяце, dtype: int64

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
lr = LinearRegression()

In [ ]:
lr.fit(X_train, y_train)

LinearRegression()

In [ ]:
lr.coef_

array([-0.04613859,  0.79983186,  0.43319897])

In [ ]:
lr.predict(X_test)

array([21035.66009204, 21872.48579554, 20046.1857338 ])

In [ ]:
pd.DataFrame([y_test.values, lr.predict(X_test)]).T

         0             1
0  19500.0  21035.660092
1  22500.0  21872.485796
2  20000.0  20046.185734

In [ ]:
from sklearn.metrics import mean_squared_error

In [ ]:
mean_squared_error(y_test, lr.predict(X_test))

918053.0390283832

In [ ]:
mean_squared_error(y_train, lr.predict(X_train))

596924.5399564923