#Задача 1

In [ ]:
import pandas as pd
ds=pd.read_csv('ratings.csv', delimiter=',')

In [ ]:
ds.head()

   userId  movieId  rating     timestamp
0       1      296     5.0  1.147880e+09
1       1      306     3.5  1.147869e+09
2       1      307     5.0  1.147869e+09
3       1      665     5.0  1.147879e+09
4       1      899     3.5  1.147869e+09

In [ ]:
ds[ds['rating']==5.0]['movieId'].value_counts().head(1)

318    17560
Name: movieId, dtype: int64

#Задача 2

In [ ]:
summ=0
ds1=pd.read_csv('power.csv', delimiter=',')

In [ ]:
ds1.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [ ]:
ds3=ds1[(ds1['year']>=2005)&(ds1['year']<=2010)&(ds1['quantity']>0)]

In [ ]:
ds3.head()

    country  year  quantity  category
6   Belgium  2010      22.0         1
7   Belgium  2009      45.0         1
10  Finland  2010       9.0         1
11  Finland  2009      13.0         1
12  Finland  2008      39.0         1

In [ ]:
ds4=ds3[ds3.category.isin([4,12,21])]

In [ ]:
ds4.head()

        country  year  quantity  category
9838  Swaziland  2010    0.1800         4
9839  Swaziland  2009    0.2100         4
9840  Swaziland  2008    0.3100         4
9841  Swaziland  2007    0.3080         4
9842  Swaziland  2006    0.2957         4

In [ ]:
summ=ds4[ds4.country.str.contains('|'.join(['Lat','Lit','Est']))]['quantity'].sum()

In [ ]:
print('суммарное потребление: {}'.format(summ))

суммарное потребление: 240580.0

#Задача 3

In [ ]:
import pandas as pd
tabs = pd.read_html("https://fortrader.org/quotes")
print(tabs[0])

                           Название   Цена  Изменение  Изменение(%)  Обновлено
0  EURRUB Курс евро к рублю сегодня  92.80        0.0           0.0        NaN
1       USDRUB Курс рубля к доллару  86.82        0.0           0.0        NaN